.container {
  width: 70%;
  margin: 15%;
  background-color: white;
  .contain {
    display: flex;
    flex-direction: column;
    p {
      text-align: center;
      font-weight: bold;
      font-size: 30px;
      color: #9525aa73;
    }
    .courses {
      display: flex;
      justify-content: space-between;
      background-color: #eee;
      width: 90%;
      margin: 0 8%;
      margin-bottom: 10px;
      form {
        :first-child {
          padding: 1px 2px;
        }
        :last-child {
          width: 110px;
        }
      }
      div {
        :first-child {
          width: 110px;
        }
        :last-child {
          width: 110px;
        }
      }
    }
    form {
      @extend .courses;
      input {
        width: 81%;
      }
    }
  }
}
